body {
    font-family: 'EB Garamond', serif;
    --at-apply: font-medium text-2xl;
}

h1 {
    --at-apply: text-6xl my-8 font-medium;
}

header {
    --at-apply: flex flex-col flex-items-center my-32;
}